.appMount__51fd7,
.app__160d8,
.bg__960e4,
.wrapper_ef3116,
.panels_c48ade,
.sidebar_c48ade:after,
.container__2637a,
.chat_f75fb0,
.chatContent_f75fb0,
.themed__9293f,
.container_c8ffbb,
.members_c8ffbb,
.channelTextArea_f75fb0,
.themedBackground__74017,
.privateChannels__35e86,
.scroller__99e7c,
.children__9293f:after,
.callContainer_cb9592 {
  background-image: url(https://i.imgur.com/QxZuXcc.gif) !important;
  background-size: cover:
  backdrop-filter: none !important;
  box-shadow: none !important;
}

/* limpa o fundo das telas de chamada */
.callScreen,
.callGridTile,
.callControls {
  background-color: transparent !important;
  background-image: url(https://i.imgur.com/QxZuXcc.gif) !important;
}
